:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
}

.page-layout {
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
}

.sidebar {
    background-color: #6d28d9;
    grid-row: 1 / 3;

    font-size: 16px;
    color: white;
}

.brand {
    display:flex;
    align-items: center;
    gap: 10px;

    margin-top: 3vh;
    padding-left: 1.5vw;
}

.brand > img {
    height: 1.9em;
    width: auto;

    filter: invert(97%) sepia(1%) saturate(3736%) hue-rotate(185deg) brightness(102%) contrast(95%);
}

.top {
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;

    color: white;
    text-decoration: none;
}

.nav {
    padding-top: 6vh;
}


.nav > div {
    margin: 0;

    display: flex;
    flex-direction: column;

    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 2vw;
}

.nav > div > a {
    color: white;
    text-decoration: none;
    font-weight: bold;

    display: flex;
    align-items: center;
    gap: 0.8vw;
}

.nav > div:hover {
    background-color: #5b21b6;
}

/* logos for .nav elements */
.home::before {
    content: url(styling-resources/sidebar-icons/home-icon-odin.svg);
    display: inline-block;
    height: auto;
    width: 1.8vw;
    padding-top: 5px;
    filter: invert(97%) sepia(1%) saturate(3736%) hue-rotate(185deg) brightness(102%) contrast(95%);
}

.profile::before {
    content: url(styling-resources/sidebar-icons/profile-icon-odin.svg);
    display: inline-block;
    height: auto;
    width: 1.8vw;
    padding-top: 5px;
    filter: invert(97%) sepia(1%) saturate(3736%) hue-rotate(185deg) brightness(102%) contrast(95%);
}

.messages::before {
    content: url(styling-resources/sidebar-icons/messages-icon-odin.svg);
    display: inline-block;
    height: auto;
    width: 1.8vw;
    padding-top: 5px;
    filter: invert(97%) sepia(1%) saturate(3736%) hue-rotate(185deg) brightness(102%) contrast(95%);
}

.history::before {
    content: url(styling-resources/sidebar-icons/history-icon-odin.svg);
    display: inline-block;
    height: auto;
    width: 1.8vw;
    padding-top: 5px;
    filter: invert(97%) sepia(1%) saturate(3736%) hue-rotate(185deg) brightness(102%) contrast(95%);
}

.tasks::before {
    content: url(styling-resources/sidebar-icons/tasks-icon-odin.svg);
    display: inline-block;
    height: auto;
    width: 1.8vw;
    padding-top: 5px;
    filter: invert(97%) sepia(1%) saturate(3736%) hue-rotate(185deg) brightness(102%) contrast(95%);
}

.communities::before {
    content: url(styling-resources/sidebar-icons/communities-icon-odin.svg);
    display: inline-block;
    height: auto;
    width: 1.8vw;
    padding-top: 5px;
    filter: invert(97%) sepia(1%) saturate(3736%) hue-rotate(185deg) brightness(102%) contrast(95%);
}
/* end of logo placements for .nav elements */
.content {
    background-color: lightgray;
}